In [1]:
pip install matplotlib pandas

Requirement already satisfied: matplotlib in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (3.3.4)
Requirement already satisfied: pandas in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (1.2.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (1.20.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (8.1.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: pytz>=2017.3 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from pandas) (2020.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (1.20.1)
Requirement already satisfied: six in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: six in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
WARNING: You are using pip version 20.3.1; however, version 21.0.1 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/3.0.0_1/libexec/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Render our plots inline
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.rcParams['figure.figsize'] = (15, 10)

In [3]:
df = pd.read_csv("/Users/citizen99xyz/workspace/python-labb/WebScrapping/FlightLated/airports.csv", encoding="ISO-8859-1")

In [20]:
df.head()

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York

In [ ]:
airPortFrame = df[['name']]
airPortFrame.count()

In [26]:
#Liste des aeroport ne changeant pas d'heure en été 
is_airport_with_no_dst = df['dst'] == 'N'
df[is_airport_with_no_dst]

,faa,name,lat,lon,alt,tz,dst,tzone
167,AZA,Phoenix-Mesa Gateway,33.307833,-111.655000,1382,-7,N,America/Phoenix
363,DGL,Douglas Municipal Airport,31.342603,-109.506454,4173,-7,N,America/Phoenix
406,E91,Chinle Municipal Airport,36.110881,-109.575422,5547,-7,N,America/Denver
487,FLG,Flagstaff Pulliam Airport,35.140318,-111.669239,7015,-7,N,America/Phoenix
526,GCN,Grand Canyon National Park Airport,35.952361,-112.146972,6609,-7,N,America/Phoenix
532,GEU,Glendale Municipal Airport,33.526917,-112.295139,1071,-7,N,America/Phoenix
591,HII,Lake Havasu City Airport,34.571111,-114.358278,783,-7,N,America/Phoenix
600,HNL,Honolulu Intl,21.318681,-157.922428,13,-10,N,Pacific/Honolulu
667,INW,Winslow-Lindbergh Regional Airport,35.021917,-110.722528,4941,-7,N,America/Phoenix
679,ITO,Hilo Intl,19.721375,-155.048469,38,-10,N,Pacific/Honolulu
693,JHM,Kapalua,20.962936,-156.673031,256,-10,N,Pacific/Honolulu
734,KOA,Kona Intl At Keahole,19.738767,-156.045631,47,-10,N,Pacific/Honolulu
794,LIH,Lihue,21.975983,-159.338958,153,-10,N,Pacific/Honolulu
806,LNY,Lanai,20.785611,-156.951419,1308,-10,N,Pacific/Honolulu
884,MKK,Molokai,21.152886,-157.096256,454,-10,N,Pacific/Honolulu
898,MMI,McMinn Co,35.399190,-84.561770,874,-5,N,America/New_York
947,MZJ,Pinal Airpark,32.509722,-111.325278,1893,-7,N,America/Phoenix
1006,OGG,Kahului,20.898650,-156.430458,54,-10,N,Pacific/Honolulu
1075,PHX,Phoenix Sky Harbor Intl,33.434278,-112.011583,1135,-7,N,America/Phoenix
1184,SAD,Safford Regional Airport,32.853333,-109.635083,3179,-7,N,America/Phoenix
1336,TUS,Tucson Intl,32.116083,-110.941028,2643,-7,N,America/Phoenix
1403,WKL,Waikoloa Heliport,19.913600,-155.864000,109,-10,N,Pacific/Honolulu
1439,YUM,Yuma Mcas Yuma Intl,32.656578,-114.605980,216,-7,N,America/Phoenix

In [33]:
#nombre ne changeant pas d'heure en été 
is_airport_with_no_dst = df['dst'] == 'N'
airport_with_no_dst_count = len(df[is_airport_with_no_dst])
print(airport_with_no_dst_count)

23

In [44]:
#nombre ne changeant pas d'heure en été 
is_airport_with_tzone = df['tzone']
is_airport_with_tzone.value_counts()

America/New_York       519
America/Chicago        342
America/Anchorage      239
America/Los_Angeles    176
America/Denver         119
America/Phoenix         38
Pacific/Honolulu        18
\N                       3
America/Vancouver        2
Asia/Chongqing           2
Name: tzone, dtype: int64

In [50]:
#liste des aeroport ne changeant pas de fuseau horaire
is_airport_with_tzone = df['tzone'] == '\\N'
df[is_airport_with_tzone]

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,\N
815,LRO,Mount Pleasant Regional-Faison Field,32.538700,-79.469700,12,-5,A,\N
1434,YAK,Yakutat,59.301200,-139.393700,33,-9,A,\N

In [51]:
#nombre ne changeant pas de fuseau horaire
is_airport_with_tzone = df['tzone'] == '\\N'
airport_with_tzone_count = len(df[is_airport_with_tzone])
print(airport_with_tzone_count)

3

In [60]:
#import airlines source.csv
airlines = pd.read_csv("/Users/citizen99xyz/workspace/python-labb/WebScrapping/FlightLated/airlines.csv", encoding="ISO-8859-1")

In [61]:
#Affichage des différentes colonnes
airlines.columns

Index(['carrier', 'name'], dtype='object')

In [69]:
# Nombre de compagnie differentes
airlines.count()

carrier    16
name       16
dtype: int64

In [80]:
#import palnes source.csv
planes = pd.read_csv("/Users/citizen99xyz/workspace/python-labb/WebScrapping/FlightLated/planes.csv", encoding="ISO-8859-1")

In [81]:
#Affichage des colonnes
planes.columns

Index(['tailnum', 'year', 'type', 'manufacturer', 'model', 'engines', 'seats',
       'speed', 'engine'],
      dtype='object')

In [87]:
#Afiichage du nombre d'avionsdes colonnes
plaines_tailnum = planes['tailnum']
plaines_tailnum.nunique()

3322

In [83]:
planes

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,,Turbo-fan
1,N102UW,1998,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,,Turbo-fan
2,N103US,1999,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,,Turbo-fan
3,N104UW,1999,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,,Turbo-fan
4,N10575,2002,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,,Turbo-fan
...,...,...,...,...,...,...,...,...,...
3317,N997AT,2002,Fixed wing multi engine,BOEING,717-200,2,100,,Turbo-fan
3318,N997DL,1992,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,,Turbo-fan
3319,N998AT,2002,Fixed wing multi engine,BOEING,717-200,2,100,,Turbo-fan
3320,N998DL,1992,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,,Turbo-jet
3321,N999DN,1992,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,,Turbo-jet

In [88]:
#import flights source.csv
flights = pd.read_csv("/Users/citizen99xyz/workspace/python-labb/WebScrapping/FlightLated/flights.csv", encoding="ISO-8859-1")

In [89]:
#Affichage des colonnes
flights.columns

Index(['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour'],
      dtype='object')

In [93]:
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2013-01-01T05:00:00Z
1,2013,1,1,533,529,4,850,830,20,UA,1714,N24211,LGA,IAH,227,1416,5,29,2013-01-01T05:00:00Z
2,2013,1,1,542,540,2,923,850,33,AA,1141,N619AA,JFK,MIA,160,1089,5,40,2013-01-01T05:00:00Z
3,2013,1,1,544,545,-1,1004,1022,-18,B6,725,N804JB,JFK,BQN,183,1576,5,45,2013-01-01T05:00:00Z
4,2013,1,1,554,600,-6,812,837,-25,DL,461,N668DN,LGA,ATL,116,762,6,0,2013-01-01T06:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,,1455,,,1634,,9E,3393,,JFK,DCA,,213,14,55,2013-09-30T14:00:00Z
336772,2013,9,30,,2200,,,2312,,9E,3525,,LGA,SYR,,198,22,0,2013-09-30T22:00:00Z
336773,2013,9,30,,1210,,,1330,,MQ,3461,N535MQ,LGA,BNA,,764,12,10,2013-09-30T12:00:00Z
336774,2013,9,30,,1159,,,1344,,MQ,3572,N511MQ,LGA,CLE,,419,11,59,2013-09-30T11:00:00Z
336775,2013,9,30,,840,,,1020,,MQ,3531,N839MQ,LGA,RDU,,431,8,40,2013-09-30T08:00:00Z

In [100]:
#Affichage des vols sans 'dep_time' aka annulés
canceled_flights = flights['dep_time'] == ' '
flights[canceled_flights]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
838,2013,1,1,,1630,,,1815,,EV,4308,N18120,EWR,RDU,,416,16,30,2013-01-01T16:00:00Z
839,2013,1,1,,1935,,,2240,,AA,791,N3EHAA,LGA,DFW,,1389,19,35,2013-01-01T19:00:00Z
840,2013,1,1,,1500,,,1825,,AA,1925,N3EVAA,LGA,MIA,,1096,15,0,2013-01-01T15:00:00Z
841,2013,1,1,,600,,,901,,B6,125,N618JB,JFK,FLL,,1069,6,0,2013-01-01T06:00:00Z
1777,2013,1,2,,1540,,,1747,,EV,4352,N10575,EWR,CVG,,569,15,40,2013-01-02T15:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,,1455,,,1634,,9E,3393,,JFK,DCA,,213,14,55,2013-09-30T14:00:00Z
336772,2013,9,30,,2200,,,2312,,9E,3525,,LGA,SYR,,198,22,0,2013-09-30T22:00:00Z
336773,2013,9,30,,1210,,,1330,,MQ,3461,N535MQ,LGA,BNA,,764,12,10,2013-09-30T12:00:00Z
336774,2013,9,30,,1159,,,1344,,MQ,3572,N511MQ,LGA,CLE,,419,11,59,2013-09-30T11:00:00Z
336775,2013,9,30,,840,,,1020,,MQ,3531,N839MQ,LGA,RDU,,431,8,40,2013-09-30T08:00:00Z

In [105]:
#Affichage du nombre de vols sans 'dep_time' aka annulés
canceled_flights = flights['dep_time'] == ' '
canceled_flights_count = len(flights[canceled_flights])
print(str(canceled_flights_count) + ' vols annulés')

8255 vols annulés

In [ ]:
#Quels est l'aeroport le plus fréquenté 
# croiser la liste des vols et la liste des aeroports